<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <p>
            <a href="{% url 'learning_logs:index' %}">Learning log</a>
            <span>|</span>
            <a href="{% url 'learning_logs:topics' %}">Topics</a>
            <!-- в href ссылка на шаблон, чтобы он динамически менялся -->
            <span>|</span>
            <a href="{% url 'learning_logs:new_topic' %}">Add new topic</a>
            {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}</span>
            <form action="{% url 'users:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">log out</button>
            </form>
            {% else %}
            <span>|</span>
            <a href="{% url 'users:login' %}">Login</a>
            {% endif %}
        </p>
        {% block content %}{% endblock content %}
    </body>
</html>
